.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
    background-color: white
}

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    color: red;
  }
  
  .player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
  }

.active { background-color: rgb(255, 245, 245)}
.active .player-name { font-weight: 300; }

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #EB4D4D;
  top: -7px;
  right: 10px;
  
}

.player-current-box {
  background-color: #EB4D4D;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.player-current-score {
  font-size: 30px;
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: green; }
.winner .player-score { font-weight: 300; color: green; }
.winner .player-current-box { background-color:  green;}
.winner .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: green;
  top: -7px;
  right: 10px;
}

.wintext {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 32px;
    font-family: Berkshire Swash;
    color: green;
    font-weight: bold;
    text-align: center;
}
